.student {
    width: 100%;
    z-index: -1;
}
.option {
    font-size: 30px;
}
li,.logo,.option,.select,#choos,label,button {
    cursor: pointer;
    transition: .5s;
}
a {
    transition: .5s;
}
.active {
    display: none;
}
.App {
    display: grid;
    
}